@import "reset.css";

:root {
  /* set variables */
  --light: #F7F5F2;
  --dark: #373d3f;
  --background: #DDDDDD;

  /* fallback for browsers that don't support variables */
  color: #373d3f;
  color: var(--dark);
  background-color: #F7F5F2;
  background-color: var(--background);

  font-family: 'Roboto', sans-serif;
}

#loginform {
  background-color: var(--light);
  color: var(--dark);


}

section#loginform {

  background-color: var(--light);

  border: solid;
  border-radius: 15px;
  border-width: 1px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  inline-size: min-content;

  margin: auto;
  margin-top: 2em;
  padding: 2em;

  font-weight: bold;

}

section#loginform input {
  width: 20vw;

  border: none;
  border-bottom: solid;
  border-width: 3px;
  border-color: var(--light);
  border-radius: 15px;

  padding: 1em;

  margin: 0 auto;

  color: var(--dark);
}

section#loginform input:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

section#loginform h1 {
  font-size: 3em;
  font-weight: bold;

  padding-bottom: 1em;
}

section#loginform div {
  padding-bottom: 1em;
}

section#loginform p {
  margin-top: 1em;
  margin-bottom: 1em;

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}


/*Login Button*/
section#loginform div button {
  width: 100%;
  padding: 1em;
  margin-top: 1em;


  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 16%, rgba(0,212,255,1) 93%);

  border-radius: 20px;
  border: none;

  color: var(--light);;

  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
}

section#loginform div button:hover {

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

section div span {
  color: red;
}

/* Navbar Stylings */

nav {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 16%, rgba(0,212,255,1) 93%);

  padding: 1em;

  color: var(--light);

  display: flex;
  justify-content: right;
}

nav h1 {
  font-size: 4em;
  font-weight: bold;

  margin-right: auto;
  padding-left: 0.25em;
  padding-top: 0.1em;

}

nav ul {
  display: flex;

  margin-right: 2em;

  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
}

nav ul li {
  padding: 2em;
}

nav ul li a {
  text-decoration: none;
  color: var(--light);
}

nav ul li a:hover {
  text-decoration: none;
  color: var(--dark);
}

/** Start of Register Styling **/


div#register {

  background-color: var(--light);

  border: solid;
  border-radius: 15px;
  border-width: 1px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  inline-size: min-content;

  margin: auto;
  margin-top: 2em;
  padding: 2em;

  font-weight: bold;
}

div#register button {

  width: 100%;
  padding: 1em;
  margin-top: 1em;

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 16%, rgba(0,212,255,1) 93%);

  border-radius: 20px;
  border: none;

  color: var(--light);;

  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;

}

div#register button:hover {

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}


div#register div {
  padding-top: 1em;
}

div#register input {
  width: 20vw;

  border: none;
  border-bottom: solid;
  border-width: 3px;
  border-color: var(--light);
  border-radius: 15px;

  padding: 1em;

  margin: 0 auto;

  color: var(--dark);
}

div#register input:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div#register h1 {
  font-size: 3em;
  font-weight: bold;

  padding-bottom: 0.5em;
}

div#register div span {
  color: red;
}

/* start of forgot password styling */

div#forgotpass h1 {
  font-size: 3em;
  font-weight: bold;

  padding-bottom: 0.5em;
}

div#forgotpass p {

  text-align: center;

}

div#forgotpass {

  background-color: var(--light);

  border: solid;
  border-radius: 15px;
  border-width: 1px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  inline-size: min-content;

  margin: auto;
  margin-top: 2em;
  padding: 2em;

  font-weight: bold;
}

div#forgotpass button {

  width: 100%;
  padding: 1em;
  margin-top: 1em;

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 16%, rgba(0,212,255,1) 93%);

  border-radius: 20px;
  border: none;

  color: var(--light);;

  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;

}

div#forgotpass button:hover {

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}


div#forgotpass div {
  padding-top: 1em;
}

div#forgotpass input {
  width: 20vw;

  border: none;
  border-bottom: solid;
  border-width: 3px;
  border-color: var(--light);
  border-radius: 15px;

  padding: 1em;

  margin: 0 auto;

  color: var(--dark);
}

div#forgotpass input:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div#forgotpass span {

  color: red;

}

/** passchange stylings **/

div#passchange h1 {
  font-size: 3em;
  font-weight: bold;

  padding-bottom: 0.5em;
}

div#passchange p {

  text-align: center;

}

div#passchange {

  background-color: var(--light);

  border: solid;
  border-radius: 15px;
  border-width: 1px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  inline-size: min-content;

  margin: auto;
  margin-top: 2em;
  padding: 2em;

  font-weight: bold;


}

div#passchange button {

  width: 100%;
  padding: 1em;
  margin-top: 1em;

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 16%, rgba(0,212,255,1) 93%);

  border-radius: 20px;
  border: none;

  color: var(--light);;

  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;

}

div#passchange button:hover {

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}


div#passchange div {
  padding-top: 1em;
}

div#passchange input {
  width: auto;

  border: none;
  border-bottom: solid;
  border-width: 3px;
  border-color: var(--light);
  border-radius: 15px;

  padding: 1em;

  margin: 0 auto;
  margin-left: 1em;

  color: var(--dark);
}

div#passchange input:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div#passchange span {

  color: red;

}

div#passchange div {

  display: flex;
}

div#passchange i {
  padding-left: 0.5em;
  padding-top: 0.75em;
}

/* clist styling */
div#clist h1 {
  font-size: 3em;
  font-weight: bold;

  padding-bottom: 0.5em;
}

div#clist p {

  text-align: center;

}

div#clist {

  background-color: var(--light);

  border: solid;
  border-radius: 15px;
  border-width: 1px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  inline-size: min-content;

  margin: auto;
  margin-top: 2em;
  padding: 2em;

  font-weight: bold;

  width: 50vh;
}

div#clist button {

  width: 100%;
  padding: 1em;
  margin-top: 1em;

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 16%, rgba(0,212,255,1) 93%);

  border-radius: 20px;
  border: none;

  color: var(--light);;

  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;

}

div#clist button:hover {

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}


div#clist div {
  padding-top: 1em;
}

div#clist input {
  width: auto;

  border: none;
  border-bottom: solid;
  border-width: 3px;
  border-color: var(--light);
  border-radius: 15px;

  padding: 1em;

  margin: 0 auto;
  margin-left: 1em;

  color: var(--dark);
}

div#clist input:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div#clist textarea:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

section#items {
  border-radius: 15px;
  border: solid;
  border-color: var(--dark);
  border-width: 1px;

  padding: 1em;
}

div#clist h3 {
  font-size: 1.5em;
  padding: 1em;
  text-align: center;
}

div#clist h2 {
  font-size: 2em;
  padding: 1em;
  text-align: center;
}

.createitem {

  border-color: var(--dark);
  border: solid;
  border-radius: 15px;
  border-width: 1px;
  padding: 1em;
  margin-top: 1em;
}