
body {
font-size: 100%;
background-color: rgb(189, 131, 57);
}
h1 ,h2 {
    background-color:rgb(236, 188, 28);
    padding:1%;
    border-radius: 5px;
   
}

code, a.visited{
color:#716fb0;
}



.list  {
    background-color: rgb(236, 188, 28);
    border-radius: 5px;
    border: 0.2em solid rgb(246, 248, 245);
    margin:20px;
    padding:30px;
    width:30%;
    
}

.hiddenlist{

  background-color: rgb(172, 171, 170);
    border-radius: 5px;
    border: 0.2em solid rgb(246, 248, 245);
    margin:20px;
    padding:30px;
    width:30%;
}

h1,h2,h3{
  color:rgb(93, 73, 17);
}


.itemlist li{
  background-color: rgb(236, 188, 28);
  border-radius: 5px;
  border: 0.2em solid rgb(246, 248, 245);
  margin:20px;
  padding:30px;
  width:30%;
}

button{
  background-color:rgba(232, 199, 93, 0.621);
  border: 0.1em solid ghostwhite;
  border-radius: 5px;
  color: white;
  text-align: center; 
  padding:1em;
  
}

#title{
  font-style: italic;
  font-size: larger;
  
}


div.scroll {
  background-color: rgb(121, 116, 93);
  overflow-y: auto;
}

div.scroll a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scroll a:hover  {
  background-color: rgb(255, 212, 21);
}
button:hover{
  background-color:blanchedalmond;
  color:black;
}

/*Styling for errors*/

.error {
  color: red;
  display: block;
  margin: 0.5em;
  border: 0.1em solid rgb(246, 248, 245);
  width:30%;
  background-color: rgb(255, 212, 21);;
  text-align: center;
}

.hidden {
  display: none;
}
/* items that have not been bought */
.notbought{
background-color:yellow;
}

/* Styling for items that have been bought */
.bought{
background-color:aquamarine;
  border-radius: 5px;
  margin:20px;
  padding:30px;
  width:30%;
}
    
/*styling for the title of each wishlist */
.title{
  border-radius: 5px;
  margin:20px;
  width: auto;
  color: rgb(255, 251, 251);
  font-size: large;
  text-align: center;
  padding:0.5em;
  
}



    
